<div style="margin-top: -50px;">
  <div class="rectangle green"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle divider">
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
  </div>
  <div class="rectangle grey"></div>
  <div class="rectangle light-green"></div>
  <div class="rectangle green"></div>
  <div class="rectangle light-green shadow"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle divider">
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
  </div>
  <div class="rectangle grey"></div>
  <div class="rectangle green"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle green"></div>
  <div class="rectangle light-green shadow"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle green"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle green"></div>
  <div class="rectangle light-green shadow"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle divider">
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
  </div>
  <div class="rectangle grey"></div>
  <div class="rectangle light-green"></div>
  <div class="rectangle green"></div>
  <div class="rectangle light-green shadow"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle divider">
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
    <div class="line black"></div>
    <div class="line clear"></div>
  </div>
  <div class="rectangle grey"></div>
  <div class="rectangle green"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle green"></div>
  <div class="rectangle light-green shadow"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle green"></div>
  <div class="rectangle grey"></div>
  <div class="rectangle green"></div>
  <div class="rectangle light-green shadow"></div>
</div>
